<!DOCTYPE html>
<!-- Ben DeVries, October 6, 2016
	index.html -->
	
<head>
	<link rel="stylesheet" href="css/styles.css">
	
	<title>Brickhouse Tools</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="container">
	<header>
		<!--header for the company logo-->
		<img src="images/logo.png" alt="Brickhouse Tools Logo" height="275" width="845">
		<br>
		<h1>Brickhouse Tools</h1>
		<h2>The best of online drill shopping</h2>
	</header>
	
	<div id="nav">
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="aboutus.html">About Us</a> &nbsp; &nbsp;
		<a href ="drills.html">Drills</a> &nbsp; &nbsp;
		<a href="powertools.html">Power Tools</a> &nbsp; &nbsp;
		<a href="deals.html">Join Email</a> &nbsp; &nbsp;
		<a href="contact.html">Contact Us</a>
	</nav>
	</div>
	
	<div id="content">
	<main>
		
	</main>

	
	<footer>
		&copy; Copyright 2017. All Rights Reserved.<br>
		Request Information<br>
		Ben DeVries, c0681625.
		<a href="mailto:brickhousetools@gmail.com">brickhousetools@gmail.com</a>
	</footer>
	</div>
	</div>
</body>
</html>